In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('groupby and join in sql') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/09/03 12:20:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/03 12:20:20 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/09/03 12:20:20 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.createOrReplaceTempView('green')

In [4]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [5]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [6]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.createOrReplaceTempView('yellow')

In [7]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [8]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [9]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [10]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [11]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [12]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [13]:
df_join = spark.read.parquet('data/report/revenue/total')

In [14]:
df_join.show(vertical=True)

-RECORD 0------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 14
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 8.8
 yellow_number_records | 1
-RECORD 1------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 15
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 34.09
 yellow_number_records | 1
-RECORD 2------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 17
 green_amount          | 195.03000000000003
 green_number_records  | 9
 yellow_amount         | 220.20999999999998
 yellow_number_records | 8
-RECORD 3------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 25
 green_amount          | 531.0000000000002
 green_number_records  | 26
 yellow_amount         | 324.35
 yellow_number_records | 16
-RECORD 4------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 32
 green_amount          | 68.94999999999999
 green_number_records  | 2
 yellow_amount         | 18.0
 yellow_number_records | 1
-RECORD 5------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 43
 green_amount          | 107.52
 green_number_records  | 6
 yellow_amount         | 6539.510000000012
 yellow_number_records | 390
-RECORD 6------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 49
 green_amount          | 266.76000000000005
 green_number_records  | 14
 yellow_amount         | 185.64999999999998
 yellow_number_records | 10
-RECORD 7------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 59
 green_amount          | 50.9
 green_number_records  | 3
 yellow_amount         | null
 yellow_number_records | null
-RECORD 8------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 69
 green_amount          | 11.8
 green_number_records  | 1
 yellow_amount         | 106.52
 yellow_number_records | 4
-RECORD 9------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 71
 green_amount          | 23.8
 green_number_records  | 1
 yellow_amount         | null
 yellow_number_records | null
-RECORD 10-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 72
 green_amount          | 67.53
 green_number_records  | 2
 yellow_amount         | null
 yellow_number_records | null
-RECORD 11-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 75
 green_amount          | 278.14000000000004
 green_number_records  | 26
 yellow_amount         | 958.3500000000004
 yellow_number_records | 69
-RECORD 12-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 78
 green_amount          | 34.46
 green_number_records  | 2
 yellow_amount         | null
 yellow_number_records | null
-RECORD 13-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 82
 green_amount          | 305.1200000000001
 green_number_records  | 28
 yellow_amount         | 29.8
 yellow_number_records | 1
-RECORD 14-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 85
 green_amount          | 64.76
 green_number_records  | 4
 yellow_amount         | 102.56
 yellow_number_records | 3
-RECORD 15-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 87
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 2456.6699999999987
 yellow_number_records | 112
-RECORD 16-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 93
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 210.28000000000003
 yellow_number_records | 3
-RECORD 17-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 107
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 6441.030000000006
 yellow_number_records | 380
-RECORD 18-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 113
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 3984.319999999998
 yellow_number_records | 220
-RECORD 19-----------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 116
 green_amount          | 328.76
 green_number_records  | 18
 yellow_amount         | 561.5100000000001
 yellow_number_records | 34
only showing top 20 rows

In [18]:
df_zones = spark.read.parquet('zones/')

In [20]:
df_zones.show()

+----------+-------------+--------------------+------------+
|locationid|      borough|                zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [21]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.locationid)

In [23]:
df_result.show(vertical=True)

-RECORD 0-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 14
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 8.8
 yellow_number_records | 1
 locationid            | 14
 borough               | Brooklyn
 zone                  | Bay Ridge
 service_zone          | Boro Zone
-RECORD 1-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 15
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 34.09
 yellow_number_records | 1
 locationid            | 15
 borough               | Queens
 zone                  | Bay Terrace/Fort ...
 service_zone          | Boro Zone
-RECORD 2-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 17
 green_amount          | 195.03000000000003
 green_number_records  | 9
 yellow_amount         | 220.20999999999998
 yellow_number_records | 8
 locationid            | 17
 borough               | Brooklyn
 zone                  | Bedford
 service_zone          | Boro Zone
-RECORD 3-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 25
 green_amount          | 531.0000000000002
 green_number_records  | 26
 yellow_amount         | 324.35
 yellow_number_records | 16
 locationid            | 25
 borough               | Brooklyn
 zone                  | Boerum Hill
 service_zone          | Boro Zone
-RECORD 4-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 32
 green_amount          | 68.94999999999999
 green_number_records  | 2
 yellow_amount         | 18.0
 yellow_number_records | 1
 locationid            | 32
 borough               | Bronx
 zone                  | Bronxdale
 service_zone          | Boro Zone
-RECORD 5-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 43
 green_amount          | 107.52
 green_number_records  | 6
 yellow_amount         | 6539.510000000012
 yellow_number_records | 390
 locationid            | 43
 borough               | Manhattan
 zone                  | Central Park
 service_zone          | Yellow Zone
-RECORD 6-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 49
 green_amount          | 266.76000000000005
 green_number_records  | 14
 yellow_amount         | 185.64999999999998
 yellow_number_records | 10
 locationid            | 49
 borough               | Brooklyn
 zone                  | Clinton Hill
 service_zone          | Boro Zone
-RECORD 7-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 59
 green_amount          | 50.9
 green_number_records  | 3
 yellow_amount         | null
 yellow_number_records | null
 locationid            | 59
 borough               | Bronx
 zone                  | Crotona Park
 service_zone          | Boro Zone
-RECORD 8-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 69
 green_amount          | 11.8
 green_number_records  | 1
 yellow_amount         | 106.52
 yellow_number_records | 4
 locationid            | 69
 borough               | Bronx
 zone                  | East Concourse/Co...
 service_zone          | Boro Zone
-RECORD 9-------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 71
 green_amount          | 23.8
 green_number_records  | 1
 yellow_amount         | null
 yellow_number_records | null
 locationid            | 71
 borough               | Brooklyn
 zone                  | East Flatbush/Far...
 service_zone          | Boro Zone
-RECORD 10------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 72
 green_amount          | 67.53
 green_number_records  | 2
 yellow_amount         | null
 yellow_number_records | null
 locationid            | 72
 borough               | Brooklyn
 zone                  | East Flatbush/Rem...
 service_zone          | Boro Zone
-RECORD 11------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 75
 green_amount          | 278.14000000000004
 green_number_records  | 26
 yellow_amount         | 958.3500000000004
 yellow_number_records | 69
 locationid            | 75
 borough               | Manhattan
 zone                  | East Harlem South
 service_zone          | Boro Zone
-RECORD 12------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 78
 green_amount          | 34.46
 green_number_records  | 2
 yellow_amount         | null
 yellow_number_records | null
 locationid            | 78
 borough               | Bronx
 zone                  | East Tremont
 service_zone          | Boro Zone
-RECORD 13------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 82
 green_amount          | 305.1200000000001
 green_number_records  | 28
 yellow_amount         | 29.8
 yellow_number_records | 1
 locationid            | 82
 borough               | Queens
 zone                  | Elmhurst
 service_zone          | Boro Zone
-RECORD 14------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 85
 green_amount          | 64.76
 green_number_records  | 4
 yellow_amount         | 102.56
 yellow_number_records | 3
 locationid            | 85
 borough               | Brooklyn
 zone                  | Erasmus
 service_zone          | Boro Zone
-RECORD 15------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 87
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 2456.6699999999987
 yellow_number_records | 112
 locationid            | 87
 borough               | Manhattan
 zone                  | Financial Distric...
 service_zone          | Yellow Zone
-RECORD 16------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 93
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 210.28000000000003
 yellow_number_records | 3
 locationid            | 93
 borough               | Queens
 zone                  | Flushing Meadows-...
 service_zone          | Boro Zone
-RECORD 17------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 107
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 6441.030000000006
 yellow_number_records | 380
 locationid            | 107
 borough               | Manhattan
 zone                  | Gramercy
 service_zone          | Yellow Zone
-RECORD 18------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 113
 green_amount          | null
 green_number_records  | null
 yellow_amount         | 3984.319999999998
 yellow_number_records | 220
 locationid            | 113
 borough               | Manhattan
 zone                  | Greenwich Village...
 service_zone          | Yellow Zone
-RECORD 19------------------------------------
 hour                  | 2020-01-01 00:00:00
 zone                  | 116
 green_amount          | 328.76
 green_number_records  | 18
 yellow_amount         | 561.5100000000001
 yellow_number_records | 34
 locationid            | 116
 borough               | Manhattan
 zone                  | Hamilton Heights
 service_zone          | Boro Zone
only showing top 20 rows

In [24]:
df_result.drop('locationid', 'zone').write.parquet('tmp/revenue-zones')